*.asm
*.gv
*.ods
*.ods#
*.pdf
*.py[cod]

.pylintrc
.python-version
Pipfile.lock
build/*
dist/*
docs/build/*
docs/coverage/*
docs/html/*
files/*

# ignore jupyter notebooks
.ipynb_checkpoints/*
*.ipynb
