[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
angr = "==9.2.130"
archinfo = "==9.2.130"
boltons = "==24.1.0"
bullet = "==2.2.0"
capstone = "==5.0.3"
graphviz = "==0.20.3"
jinja-vanish = "==0.1"
jinja2 = "==3.1.4"
keystone-engine = "==0.9.2"
lief = "==0.16.0"
markupsafe = "==3.0.2"
networkx = "==2.8.8"
pyvex = "==9.2.130"
smoke-zephyr = "==2.0.1"
tabulate = "==0.9.0"
termcolor = "==2.5.0"

[dev-packages]
ipython = "*"
ipdb = "*"
jupyter = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autodoc-typehints = "*"

[scripts]
crimson-forge = "python -m crimson_forge"
metasploit = "python -m crimson_forge.metasploit"
wizard = "python -m crimson_forge.wizard"

[requires]
python_version = "3.12"
