[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
archinfo = "*"
capstone = "*"
keystone-engine = "*"
networkx = "*"
pyvex = "*"
graphviz = "*"
tabulate = "*"
termcolor = "*"
boltons = "*"

[dev-packages]
ipython = "*"
ipdb = "*"

[scripts]
crimson-forge = "python -m crimson_forge"
