[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
archinfo = "*"
capstone = "*"
keystone-engine = "*"
networkx = "*"
pyvex = "*"
graphviz = "*"
tabulate = "*"
termcolor = "*"
boltons = "*"
smoke-zephyr = "*"
lief = "*"
angr = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
jupyter = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autodoc-typehints = "*"

[scripts]
crimson-forge = "python -m crimson_forge"
metasploit = "python -m crimson_forge.metasploit"
